.introduction-img {
  width: 100%;
  object-fit: contain;
}

.dataTables_filter > label {
  width: fit-content;
  display: flex;
  float: right;
  align-items: center;
}

.dataTables_filter > label > input {
  margin-left: 10px;
}

.dataTables_length > label {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dataTables_length > label > select {
  margin-right: 10px;
  margin-left: 10px;
}

.dataTables_info {
  margin-top: 10px;
}

.pagination {
  margin-top: 10px;
  float: right;
}

.action > a {
  margin: 10px;
}

.header-title {
  font-weight: bold;
}

.button-tambah {
  float:right !important;
}

.img-thumbnail {
  width: 20%;
}

@media only screen and (max-width: 600px) {
  .dataTables_filter > label {
    float: left;
  }

  .button-tambah {
    float:left !important;
  }
}
